<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>GETTING STARTED</h4>
    <ul>
      <li class="{% if page.title == 'Welcome' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/home/">Welcome</a>
      </li>
      <li class="{% if page.title == 'Quick-start guide' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/quickstart/">Quick-start guide</a>
      </li>
      <li class="{% if page.title == 'Installation' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/installation/">Installation</a>
      </li>
      <li class="{% if page.title == 'Basic Usage' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/usage/">Basic Usage</a>
      </li>
      <li class="{% if page.title == 'Directory structure' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/structure/">Directory structure</a>
      </li>
      <li class="{% if page.title == 'Configuration' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/configuration/">Configuration</a>
      </li>
    </ul>
    <h4>CRM</h4>
    <ul>
      <li class="{% if page.title == 'Front-matter' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/frontmatter/">Front-matter</a>
      </li>
      <li class="{% if page.title == 'Writing posts' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/posts/">Writing posts</a>
      </li>
      <li class="{% if page.title == 'Working with drafts' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/drafts/">Working with drafts</a>
      </li>
      <li class="{% if page.title == 'Creating pages' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/pages/">Creating pages</a>
      </li>
      <li class="{% if page.title == 'Variables' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/variables/">Variables</a>
      </li>
      <li class="{% if page.title == 'Blog migrations' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/migrations/">Blog migrations</a>
      </li>
    </ul>
    <h4>BILLING</h4>
    <ul>
      <li class="{% if page.title == 'Templates' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/templates/">Templates</a>
      </li>
      <li class="{% if page.title == 'Permalinks' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/permalinks/">Permalinks</a>
      </li>
      <li class="{% if page.title == 'Pagination' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/pagination/">Pagination</a>
      </li>
      <li class="{% if page.title == 'Plugins' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/plugins/">Plugins</a>
      </li>
      <li class="{% if page.title == 'Extras' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/extras/">Extras</a>
      </li>
    </ul>
    <h4>STOCK</h4>
    <ul>
      <li class="{% if page.title == 'GitHub Pages' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/github-pages/">GitHub Pages</a>
      </li>
      <li class="{% if page.title == 'Deployment methods' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/deployment-methods/">Other methods</a>
      </li>
    </ul>
    <h4>SERVICE</h4>
    <ul>
      <li class="{% if page.title == 'Troubleshooting' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/troubleshooting/">Troubleshooting</a>
      </li>
      <li class="{% if page.title == 'Sites using Jekyll' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/sites/">Sites using Jekyll</a>
      </li>
      <li class="{% if page.title == 'Resources' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/resources/">Resources</a>
      </li>
      <li class="{% if page.title == 'Upgrading' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/upgrading/">Upgrading</a>
      </li>
    </ul>
    <h4>REPORTS</h4>
    <ul>
      <li class="{% if page.title == 'Contributing' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/contributing/">Contributing</a>
      </li>
      <li class="{% if page.title == 'History' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/history/">History</a>
      </li>
    </ul>
    <h4>INTEGRATIONS</h4>
    <ul>
      <li class="{% if page.title == 'Contributing' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/contributing/">Contributing</a>
      </li>
      <li class="{% if page.title == 'History' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/history/">History</a>
      </li>
    </ul>
  </aside>
</div>
