<div id="leftPane" class="hide-on-mobiles">
  <aside>
    <h4>GENERAL</h4>
    <ul>
      <li class="{% if page.title == 'Logging in and out' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/logging-in-and-out/">Logging in and out</a>
      </li>
      <li class="{% if page.title == 'Changing your details' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/changing-your-details/">Changing your details</a>
      </li>
      <li class="{% if page.title == 'Navigation and modules' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/navigation-and-modules/">Navigation and modules</a>
      </li>
      <li class="{% if page.title == 'Filters and pagination' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/filters-and-pagination/">Filters and pagination</a>
      </li>
    </ul>
    <h4>CRM</h4>
    <ul>
      <li class="{% if page.title == 'Finding contacts' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/finding-contacts/">Finding contacts</a>
      </li>
      <li class="{% if page.title == 'Managing contacts' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/managing-contacts/">Managing contacts</a>
      </li>
      <li class="{% if page.title == 'Updating contact details' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/updating-contact-details/">Updating contact details</a>
      </li>
      <li class="{% if page.title == 'Recording activities' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/recording-activities/">Recording activities</a>
      </li>
      <li class="{% if page.title == 'Working with tasks' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/working-with-tasks/">Working with tasks</a>
      </li>
      <li class="{% if page.title == 'Managing opportunities' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/managing-opportunities/">Managing opportunities</a>
      </li>
      <li class="{% if page.title == 'Managing tags' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/managing-tags/">Managing tags</a>
      </li>
      <li class="{% if page.title == 'Creating campaigns' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/creating-campaigns/">Creating campaigns</a>
      </li>
    </ul>
<!--    <h4>BILLING</h4>
    <ul>
      <li class="{% if page.title == 'Templates' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/templates/">Templates</a>
      </li>
      <li class="{% if page.title == 'Permalinks' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/permalinks/">Permalinks</a>
      </li>
      <li class="{% if page.title == 'Pagination' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/pagination/">Pagination</a>
      </li>
      <li class="{% if page.title == 'Plugins' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/plugins/">Plugins</a>
      </li>
      <li class="{% if page.title == 'Extras' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/extras/">Extras</a>
      </li>
    </ul>
    <h4>STOCK</h4>
    <ul>
      <li class="{% if page.title == 'GitHub Pages' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/github-pages/">GitHub Pages</a>
      </li>
      <li class="{% if page.title == 'Deployment methods' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/deployment-methods/">Other methods</a>
      </li>
    </ul>
    <h4>SERVICE</h4>
    <ul>
      <li class="{% if page.title == 'Troubleshooting' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/troubleshooting/">Troubleshooting</a>
      </li>
      <li class="{% if page.title == 'Sites using Jekyll' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/sites/">Sites using Jekyll</a>
      </li>
      <li class="{% if page.title == 'Resources' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/resources/">Resources</a>
      </li>
      <li class="{% if page.title == 'Upgrading' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/upgrading/">Upgrading</a>
      </li>
    </ul>
    <h4>REPORTS</h4>
    <ul>
      <li class="{% if page.title == 'Contributing' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/contributing/">Contributing</a>
      </li>
      <li class="{% if page.title == 'History' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/history/">History</a>
      </li>
    </ul>
    <h4>INTEGRATIONS</h4>
    <ul>
      <li class="{% if page.title == 'Contributing' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/contributing/">Contributing</a>
      </li>
      <li class="{% if page.title == 'History' %}current{% endif %}">
        <a href="{{ site.baseurl }}/docs/history/">History</a>
      </li>
    </ul> -->
  </aside>
</div>
