<div id="leftPane">
  <aside>
    <h2>Help Centre</h2>
    <ul>
      <li class="{% if page.title == 'News' %}current{% endif %}">
        <a href="{{site.baseurl}}/news/">All News</a>
      </li>
      <li class="{% if page.title == 'Releases' %}current{% endif %}">
        <a href="{{site.baseurl}}/news/release/">All Release</a>
      </li>
    </ul>
    <h3><i class="icon-github-alt"></i> Recent Release</h3>
    <ul>
      {% for post in site.posts limit:5 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{site.baseurl}}{{post.url}}">{{ post.version }}</a>
      </li>
      {% endfor %}
    </ul>
  </aside>
</div>
